.men, .women {

  display: none;
}

.dudes{
  display: inline;
  float: left;
}

.gals{
  display: inline;
  float: left;
}

img {
  max-width: auto;
  height: 150px;
  overflow-x: hidden;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}
.dudes {
  width:200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}

.gals {
  width: 200px;
  max-height: 200px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-color: black;
  color: white;
  border-radius: 5px;
}

h6 {
  text-align: center;
}

.btn {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

form {
  margin-bottom: 30px;
}

#quiz label {
  font-weight: 400;
}
